@model LexiconGarage.Models.Garage
@{
    ViewBag.Title = "Garage";
}

<div class="jumbotron navbar-inverse">
    <h1>Garaget</h1>
    <h4 class="error-message">@ViewBag.ErrorMessage</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fordon...</h2>
        <p>
            Här kommer en del data...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Beläggning</h2>
         <p>Lediga platser: @Model.EmptySlots() (av tot @Model.TotalSlots)</p>
    </div>
    <div class="col-md-4">
        <h2>Priser</h2>
        <p>@Model.Price kr/ tim (minutdebitering)</p>

    </div>
</div>