
@{
    ViewBag.Title = "Kontakt";
}

<div class="container body-content">
    <div class="col-md-6">
        <h1>Garaget AB</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <br />
        <p>
            <strong>Adress:</strong><br />
            Svevägen 32<br />
            101 20 Stockholm<br />
            <abbr title="Telefon">Tel:</abbr>
            +468 63 78 54
        </p>

        <address>
            <strong>Karl Andersson, VD:</strong><a href="mailto:karl.andersson@garaget.se">Karl.Andersson@Garaget.se</a><br />
            <strong>Lisa Johansson, HR:</strong><a href="mailto:lisa.johanssong@garaget.se">Lisa.Johanssong@Garaget.se</a>
        </address>
    </div>
</div>
