@{
    ViewBag.Title = "Garage";
}

<div class="jumbotron navbar-inverse">
    <h1>Garaget</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fordon...</h2>
        <p>
            Här kommer en del data...   
        </p>
    </div>
    <div class="col-md-4">
        <h2>Beläggning</h2>
        <p>Lediga platser: 55 (av tot 100)</p>
    </div>
    <div class="col-md-4">
        <h2>Priser</h2>
        <p>60 kr/ tim (minutdebitering)</p>
        
    </div>
</div>